body {
    background-color: rgba(237,213,28,0.1);
}
h2 {
     background-color: rgba(237,213,28,.8);
     color:rgba(63,26,10,1);
     border-radius: 5px;
     width: 320px;
     padding: 5px;
     border: 5px solid rgba(63,26,10,.8);

}
.jumbotron {
    background-color:rgba(63,26,10,.7) ;
    padding-top: 1px;
    padding-bottom: 20px;
}
.scheduleForm {
     border-radius: 5px;
    background-color: rgba(255,255,255,0.95);
    padding: 0px 30px;
    padding-bottom: 10px;
    margin: 10px 0px;
        border: 5px solid rgba(63,26,10,.5);

}
.inputForm {
    border-radius: 5px;
    background-color: rgba(255,255,255,0.6);
    padding: 1px 50px;
}
.daysBtns {
     border-radius: 5px;
    background-color: rgba(255,255,255,0.9);
    padding: 0px 10px; 
    padding-bottom: 5px;
    margin: 10px 0;
    border: 5px solid rgba(63,26,10,.5);
}
/*.radioBtns {
    background-color: rgba(200,200,200,1);
    border-radius: 5px;
}*/
.courseInfo {
    
}
.timesLeft,.timesRight {
    float: left;
    background-color: rgb(235,235,235);

}

.timesLeft{
	width:12.5%;
	padding:0px;
}
.timesLeft table th {
	text-align:center;
}
.timesLeft table tr td{
	height: 20px;
	color: #ff0000;
	padding:2px;
	text-align:center;
}

.timesRight {
	width:87.5%;
    overflow-x: auto;
    overflow-y:hidden;	
	padding:0px;
}
.timesRight table tr th {
	text-align:center;
	width:12.5%;
}
.timesRight table tr td{
	height: 25px;
}
.coursesLayer{
	position: absolute;
    left: 0px;
    top: 37px;
    z-index: 1;
	width:100%;
	height:100%;
	overflow-x: auto;
    overflow-y:hidden;
}
.coursesLayer table tr {
	line-height:75px; height:75px;
}
.coursesLayer table tr td{
	width:12.5%;
}
#classButton{
	left:0px;
	top: 0px;
	width:100%;
	padding:0px;
	height:100%;
}
.clearfix{
    clear:both;
    border-top: 2px dotted rgba(63,26,10,.5);
}
.button{
	color:#F012BE;
}
@media print {
   body * { visibility: hidden; }
  #printarea,#printarea * { visibility: visible; }
  #printarea {
      position: absolute;
      left: 40px;
      top: 40px;
  }
}

/*modal css http://www.w3schools.com/howto/howto_css_modals.asp*/
/* Modal Header 
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body 
.modal-body {padding: 2px 16px;}

/* Modal Footer 
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content 
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation 
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
*/
