<ion-view view-title="Welcome to ScheduleR">
  <ion-content class="padding">

    <p>
      Schedule your classes. Take control of your destiny. This is our edgy cover screen that will be either deleted or renovated before our presentation.
    </p>
    <br>
    <div>
      Use the <b>Edit</b> menu to enter the times you want to be on campus, as well as the courses you wish to take.
    </div>
    <br>
    <div>
      After submitting your information to the server, use the <b>Select</b> menu to look at your potential schedules. Feel free to go back to edit and resubmit!
    </div>
  </ion-content>
</ion-view>
