<ion-view view-title="{{(waiting) ? 'Waiting for server response' : '(Schedule ' + (data.currentPage + 1) + ' of ' + schedules.length + ')'}}">

  <ion-content>
    <div ng-show="waiting==true">
          <center><ion-spinner icon="lines"></ion-spinner><center>
    </div>

      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate">
        <!--whaddupYo-->
        <ion-slide-page ng-repeat="schedule in daySchedules">
          <ion-list class="list">
            <div class="item item-divider" ng-repeat="day in schedule" ng-show="!($index == (days.length - 1) && day.length == 0)">
              <!-- Column for displaying this day's summary information-->
              <div class="row">
                <div class="col col-33">
                  {{days[$index]}}
                </div>
                <!-- Column for displaying the course times on this day-->
                <div class="col">
                  <!-- if there are no classes, say so! -->
                  <ion-list class="list">
                    <ion-item ng-show="day.length == 0">
                      No classes!
                    </ion-item>
                    <!-- display each class entry on this day -->
                    <ion-item class="item item-text-wrap" ng-repeat="class in day">
                      {{class.Subject}} from {{class.sTime}} to {{class.eTime}}
                    </ion-item>
                  </ion-list>
                </div>
              </div>
            </div>
            <div class="item item-divider">
              <div class="row">
                <div class="col">
                  CRNs:
                </div>
                <div class="col" ng-repeat="CRN in crnLists[$index]">
                  {{CRN}}
                </div>
              </div>
            </div>
          </ion-list>

        </ion-slide-page>

      </ion-slides>

  </ion-content>

</ion-view>
