<ion-view view-title="Add Times">
<ion-content>
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="padding">
        <ion-list>
          <div ng-repeat="(index, name) in dayNames">
            <ion-radio ng-model="value" ng-click='newDay(value)' ng-value="index">
              <label>{{name}}</label>
            </ion-radio>
            <ion-list class="list" ng-show="day == index">
              <div ng-repeat="(num, time) in availableTimes">
                <ion-item class="row">
                  <div class="col"></div>
                  <div class="col">
                    <div class="row">
                      <label>Start time:</label>
                      <input type="time" class="form-control" ng-model="time.startTime">
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <label>End time:</label>
                      <input type="time" class="form-control" ng-model="time.endTime">
                    </div>
                  </div>
                </ion-item>
              </div>
              <input type="button" class="button button-light" ng-click="addNewTime()">Add</input>
            </ion-list>
          </div>
        </ion-list>
        </div>
<div class = "padding">
</div>
  </ion-slide>
  <ion-slide>
    <div class="padding">
        <h3> Add courses: </h3>
        <form class="form-inline" ng-submit="addCourses()">
            <label> Subject (ie: 'CS'): </label>
            <input type="text" class="form-control" ng-model="main.courseData.subject">
            <label> CRN: </label>
            <input type="text" class="form-control" ng-model="main.courseData.crn">
            <button type="submit" class="btn btn-success">Add</button>
            <button class="btn btn-success" ng-click="main.submitTimes()">Submit</button>
        </form>
    </div>
  </ion-slide>
</ion-slide-box>

</div>
</ion-content>
</ion-view>
