<ion-view view-title="Add Times">
<ion-content>
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
      <div class="padding">
        <ion-list>
          <ion-radio ng-model="value" ng-change='newDay(value)' ng-value="0">
            <label>Monday</label>
            <div class="row" ng-show="day == 0">
              <div class="col">
                <div class="card">
                  <div class="item item-divider">
                    8:00AM
                  </div>
                  <div class="item item-text-wrap">
                    to
                  </div>
                  <div class="item item-divider">
                    12:00PM
                  </div>
                </div>
              </div>
            </div>
          </ion-radio>
          <ion-radio ng-model="value" ng-change='newDay(value)' ng-value="1">
            <label>Tuesday</label>
            <div class="row" ng-show="day == 1">
              <div class="col">
                <div class="card">
                  <div class="item item-divider">
                    8:00AM
                  </div>
                  <div class="item item-text-wrap">
                    to
                  </div>
                  <div class="item item-divider">
                    12:00PM
                  </div>
                </div>
              </div>
            </div>
          </ion-radio>
          <ion-radio ng-model="value" ng-change='newDay(value)' ng-value="2">
            <label>Wednesday</label>
            <div class="row" ng-show="day == 2">
              <div class="col">
                <div class="card">
                  <div class="item item-divider">
                    8:00AM
                  </div>
                  <div class="item item-text-wrap">
                    to
                  </div>
                  <div class="item item-divider">
                    12:00PM
                  </div>
                </div>
              </div>
            </div>
          </ion-radio>
          <ion-radio ng-model="value" ng-value="3" ng-change='newDay(value)'>
            <label>Thursday</label>
            <div class="row" ng-show="day == 3">
              <div class="col">
                <div class="card">
                  <div class="item item-divider">
                    8:00AM
                  </div>
                  <div class="item item-text-wrap">
                    to
                  </div>
                  <div class="item item-divider">
                    12:00PM
                  </div>
                </div>
              </div>
            </div>
          </ion-radio>
          <ion-radio ng-model="value" ng-change='newDay(value)' ng-value="4">
            <label>Friday</label>
            <div class="row" ng-show="day == 4">
              <div class="col">
                <div class="card">
                  <div class="item item-divider">
                    8:00AM
                  </div>
                  <div class="item item-text-wrap">
                    to
                  </div>
                  <div class="item item-divider">
                    12:00PM
                  </div>
                </div>
              </div>
            </div>
          </ion-radio>
          <ion-radio ng-model="value" ng-change='newDay(value)' ng-value="5">
            <label>Saturday</label>
            <div class="row" ng-show="day == 5">
              <div class="col">
                <div class="card">
                  <div class="item item-divider">
                    <p>8:00AM</p>
                  </div>
                  <div class="item item-text-wrap">
                    <p>to</p>
                  </div>
                  <div class="item item-divider">
                    <p>12:00AM</p>
                  </div>
                </div>
              </div>
            </div>
          </ion-radio>
        </ion-list>
        </div>

  </ion-slide>
  <ion-slide>
    <div class="padding">
        <h3> Add courses: </h3>
        <form class="form-inline" ng-submit="addCourses()">
            <label> Subject (ie: 'CS'): </label>
            <input type="text" class="form-control" ng-model="main.courseData.subject">
            <label> CRN: </label>
            <input type="text" class="form-control" ng-model="main.courseData.crn">
            <button type="submit" class="btn btn-success">Add</button>
            <button class="btn btn-success" ng-click="main.submitTimes()">Submit</button>
        </form>
    </div>
  </ion-slide>
</ion-slide-box>

</div>
</ion-content>
</ion-view>
